body {
    background: url('https://images.pexels.com/photos/1521580/pexels-photo-1521580.jpeg?cs=srgb&dl=pexels-rodolfo-clix-1521580.jpg&fm=jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
*{  
    font-family: 'Arial Rounded MT', Arial, sans-serif;
}

.driver-selection-container {
    background: url(images/background.png);
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 h1 {
        text-align: center;
        color: #333; /* Set the text color */
        background-color: #ffc61a; /* Set a background color for the heading */
        padding: 15px; /* Add padding for better spacing */
        border-radius: 8px; /* Add rounded corners to the heading */
        margin-bottom: 20px; /* Add space below the heading */
    }

    #fare {
        font-size: 24px; /* Adjust the font size */
        color: #333; /* Set the text color */
    }

label {
    display: block;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

#driver_info {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
